# Byte-code files
*.pyc
__pycache__/

# IDE-specific files
.vscode/
.idea/

# Virtual environment
venv/

# Database files
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.flaskenv

# Testing
.pytest_cache/
.coverage
htmlcov/

# Flask specific
instance/
